* {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  height: 50vh;
  background-color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
input {
  border: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 15px;
}

select {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 15px;
  border: 0;
}
button {
  width: 100%;
  background-color: green;
  color: white;
  height: 50px;
}

.right img {
  width: 250px;
  height: 250px;
}

.final-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

#spinner {
  width: 100px;
  height: 126px;
}

.qr-code {
}
